@import "@/assets/style/var.scss";

.orderCard {
  padding: 12px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background:#fff;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .stateBox {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      height: 22px;
      background: $blue;
      color: #fff;
      padding: 0 5px;
      border-radius: 3px;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 5px;

      span {
        display: flex;
        align-items: center;
        height: 22px;
        padding: 0 5px;
        border-radius: 3px;
        font-size: 12px;
        b {
          font-weight: bold;
        }
      }

      .pickupTime {
        background: #F5E8EE;
        b {
          color: $hotPink;
          margin-left:4px;
        }
      }
      .orderNumber {
        background: #EBEBF9;
        b {
          color: $blue;
        }
      }
    }
  }

  .middle{
    display:flex;
    justify-content: space-between;
    margin:12px 0;

    .left{
      display:flex;
      flex-direction: column;
      gap:5px;
      flex:1;
      margin-right:12px;

      span{
        display:block;
        font-size:13px;
      }

      .v-icon{
        font-size:12px;
        margin-right:5px;
      }
      .user{
        display:flex;
        align-items: center;

        .name{
          font-weight:bold;
          font-size:15px;
        }
        .phone{
          color:$green;
          margin-left:5px;
        }
      }

      
      .address{
        color:#898989;
      }
    }

    .right{
      display:flex;
      flex-direction: column;
      gap:5px;

      span{
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:10px;
        height:20px;
        padding:0 5px;
        border-radius:5px;
        background:#f2f2f2;

      }
    }
  }

  .bottom{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;

    .left{
      flex:1;
      display:flex;
      align-items: center;
      gap: 6px;
      margin-right:12px;
      overflow-x:auto;

      &::-webkit-scrollbar{
        display:none;
      }

      .v-btn{
        font-size:10px;
        background:#fff;
        border:1px solid #292929;
        padding:0 5px;
        min-width:unset;
        max-height:22px;
        border-radius:3px;
        font-weight:normal;
      }

      .v-btn.lock.active{
        background:$hotPink;
        border:0;
        color:#fff;
    
        .v-icon{
          display:block;
        }
      }
    }

    .finish{
      background:#292929;
      color:#fff;
      padding:0 10px;
    }
  }

  .message{
    background:#F6F2E3;
    border-radius:5px;
    padding:10px;
    margin-top:10px;
    font-size:12px;
  }
}
