.storage{

  .no-data{
    background:#f2f2f2;
    padding:15px;
    text-align:center;
    border-radius:10px;
  }

  .page-title{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:15px;
    h4{
      position: relative;
      label{
        position: relative;
        font-size:24px;
        z-index:2;
      }
      span{
        position: absolute;
        border-radius:4px;
        left:0px;
        bottom:0px;
        height:8px;
        background:#EBEBF9;
        width:100%;
        z-index:1;
      }
    }
  }

  .list{
    display:flex;
    flex-direction: column;
    gap:15px;
    padding:20px;
    padding-bottom:90px;
  }
}

