@import "@/assets/style/var.scss";

.orderList {
}

.stateBoard {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 10px solid #ededf6;

  dl {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 3px 3px 0 0;

    dt {
      font-size: 10px;
      margin-bottom: 3px;
    }
    dd {
      font-size: 16px;
      font-weight: bold;
      color: #292929;
    }
  }

  dl.active {
    background: #ededf6;
    dd {
      color: $blue;
    }
  }
}

.list {
  display:flex;
  flex-direction: column;
  gap:15px;
  padding: 20px;
  border-top: 1px solid #292929;
  padding-bottom: 85px;

  .no-data{
    background:#f2f2f2;
    padding:15px;
    text-align:center;
    border-radius:10px;
  }
}

