@import '@/assets/style/var.scss';

.header{
  position: sticky;
  top:0px;
  left:0px;
  width:100%;
  padding:20px;
  z-index:10;

  .searchBox{
    position: relative;
    display:flex;
    align-items: center;
    border:1px solid #c2c2c2;
    border-radius:8px;
    padding-left:15px;
    background:#fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.05);

    &.active{
      border-color:#292929
    }

    .logo{
      display:flex;
      align-items: center;
      margin-right:15px;

      img{
        height:26px;
      }
      span{
        margin-left:10px;
        font-weight:bold;
      }
    }
    input{
      width:100%;
      height:50px;
      outline:none;
      font-size:16px;
      font-weight:bold;
    }
    input::placeholder{
      font-size:14px;
      font-weight:normal;
      color:#898989;
    }

    .close{
      width:50px;
      height:50px;
      .v-icon{
        color:#c2c2c2;
      }
    }
  }
}